@import url(styles.css);

h1 {
    margin-top: var(--margin-bottom-main);
    margin-bottom: var(--margin-bottom-secondary);
}
h2, h3, section {
    margin-bottom: var(--margin-bottom-main);
}


/*___________________________________________product-card*/
.product-card {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.product-card::before {
    content: '';
    position: absolute;
    background-color: var(--color-secondary);
    width: 100%;
    height: 430px;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.product-img-box {
    margin-bottom: var(--margin-bottom-secondary);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.product-img-box img {
    max-width: 100%;
    max-height: 100%;
}
.product-card h4 {
    text-transform: uppercase;
    text-align: center;
    color: #222222;
    margin: 0 auto var(--margin-bottom-secondary);
    max-width: 135px;
}
.product-data .row-box {
    justify-content: space-between;
    color: var(--color-text-secondary);
    border-bottom: 1px solid var(--color-border);
}
.product-data .row-box:last-child {
    margin-bottom: var(--margin-bottom-secondary);
}
/*___________________________________________product-card end*/
/*_____________________________________________additional-items*/
.additional-items-box {
    grid-column-start: 1;
    grid-column-end: 4;
}
.additional-items-box-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--gap-between-columns);                     /*!!!!!!!!!!!!!!!*/

    align-items: center;
    padding: 13px 0;
    border-bottom: 1px solid var(--color-border);
}
.additional-items-box-row:first-child {
    border-top: 1px solid var(--color-border);
}
.additional-items-box-row h4 {
    text-transform: uppercase;
}
.additional-items-box-row .row-box {
    justify-content: space-between;
    color: var(--color-text-secondary);
    white-space: nowrap;
}
.additional-items-box-row .price {
    transform: translate(100%, 0); 
}
.additional-items-box-row button {
    width: 100%;
}
.additional-items-gift {
    background: url(../img/catalog/gift-bg-desktop.jpg) center / cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.additional-items-gift img {
    width: 80px;
}
.additional-items-gift p {
    max-width: 160px;
}
/*__________________________________________________additional-items end*/












@media screen and (max-width: 991px) {
    /*_____________________________________________additional-items*/
    .additional-items-box {
        margin-bottom: var(--margin-bottom-main);
    }
    .additional-items .container-grid-4col {
        display: block;
    }
    .additional-items-box-row {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--gap-between-columns);
        padding: 26px 0;
    }
    .additional-items-box-row h4,
    .additional-items-box-row .row-box {
        margin-bottom: 26px;
    }
    .additional-items-box-row .price {
        transform: none;
    }
    .additional-items-box-row button {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .additional-items-gift {
        height: 200px;
        background: url(../img/catalog/gift-bg-tablet.jpg) center / cover;
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
        padding: 0 124px 0 78px;
    }
    /*_____________________________________________additional-items end*/
}



































@media screen and (max-width: 767px) {
    /*___________________________________________product-card*/
    .product-card {
        padding: 25px 0;
        border-top: 1px solid var(--color-border);
    }
    .product-card:last-child {
        border-bottom: 1px solid var(--color-border);
    }
    .product-card::before {
        display: none;
    }
    .product-card h4 {
        text-align: start;
        margin-left: 0;
        max-width: 75px;
    }
    .product-card .row-mobile {
        display: flex;
    }
    .product-img-box, .product-data {
        width: 50%;
    }
    .product-data {
        margin-bottom: var(--margin-bottom-secondary);
    }
    .product-img-box {
        height: 140px;
        margin: 0;
    }
    .product-data .row-box {
        border-bottom: none;
    }
    .product-data .row-box:last-child {
        margin-bottom: 0;
    }
    /*___________________________________________product-card end*/
    /*_____________________________________________additional-items*/
    .additional-items-box-row {
        display: block;
        padding: 13px 0;
    }
    .additional-items-box-row h4,
    .additional-items-box-row .row-box {
        margin-bottom: 13px;
    }
    .additional-items-gift {
        height: 280px;
        background: url(../img/catalog/gift-bg-mobile.jpg) center / cover;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        padding: 0;
    }
    /*_____________________________________________additional-items end*/






}