@import url(variables.css);
@import url(fonts.css);
@import url(reset.css);

* {
    box-sizing: border-box;
}
::selection {
    background-color: #000;
    color: #fff;
}
body {
    position: relative;
    color: var(--color-text);
    line-height: var(--line-height);
    font-family: var(--font-paragraph);
    font-size: var(--font-size-paragraph);
    font-weight: 400;
    background-color: #fff;
}
/*__________________________________containers start*/
.container-main {
    max-width: 1220px;
    width: calc(100% - (var(--padding-horizontal-main-container) * 2) );
    margin: 0 auto;
}
.container-grid-2col,
.container-grid-4col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--gap-between-columns);
    grid-row-gap: var(--margin-bottom-secondary);
}
.container-grid-4col {
    grid-template-columns: repeat(4, 1fr);
}
.row-box {
    display: flex;
    flex-direction: row;
}
/*_____________________________________containers end*/
/*__________________________________________headings start*/
h1, h2, h3, h4, h5, h6,
.title-1, .title-2, .title-3, .title-4, .title-5, .title-6 {
    font-family: var(--font-heading);
    line-height: var(--line-height-heading);
}
h1,
.title-1 {
    font-size: 60px;
}
h2,
.title-2 {
    font-size: 60px;
}
h3,
.title-3 {
    font-size: 36px;
}
h4,
.title-4 {
    font-size: 20px;
}
h5,
.title-5 {
    font-size: 20px;
}
h6,
.title-6 {
    font-size: 20px;
}
/*___________________________________________headings end*/
/*___________________________________________buttons start*/
.button-catalog-main {
    padding: 12px 26px;

    background-color: var(--color-primary);
    font-family: var(--font-heading);
    font-size: var(--font-size-paragraph);
    line-height: 1.25;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}
.button-catalog-main:hover {
    background-color: var(--color-primary-hover);
}
.button-catalog-main:active {
    background-color: var(--color-primary-hover);
    color: #8EC36D;
}
.button-big {
    font-size: 20px;
    padding: 14px 26px;
}
.button-grey {
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
}
.button-grey:hover {
    background-color: var(--color-secondary-hover);
}
.button-grey:active {
    background-color: var(--color-secondary-hover);
    color: #B3B3B3;
}
/*__________________________link*/
.link-arrow {     /*independent*/
    position: relative;
    font-family: var(--font-heading);
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
}
.link-arrow::before {
    content: '';
    position: absolute;
    top: 15px;
    left: calc(100% + 20px);
    width: 18px;
    height: 2px;
    background-color: var(--color-text);
    transition: 0.2s;
    cursor: default;
}
.link-arrow::after {
    content: '';
    position: absolute;
    top: 12px;
    left: calc(100% + 20px + 18px);
    border-left: 8px solid var(--color-text);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: 0.2s;
    cursor: default;
}
.link-arrow:hover::before {
    width: 26px;
}
.link-arrow:hover::after {
    left: calc(100% + 20px + 24px);
}
/*___________________________________________buttons end*/
/*___________________________________________header start*/
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.logo {
    height: 59px;
    width: 202px;
    background: url(../img/logo-desktop.svg) no-repeat transparent;
}
.header-nav input,
.header-nav label {
    display: none;
}
.header-nav ul {
    position: relative;
    margin-top: 24px;
    display: flex;
    justify-content: end;
}
.header-nav li:nth-child(n+2) {
    margin-left: 35px;
}
.menu-link {
    position: relative;
    font-family: var(--font-heading);
    font-size: 20px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text);
    white-space: nowrap;
}
.menu-link::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -7px;
    background-color: var(--color-primary);
    height: 2px;
    width: 0;
    transition: 0.3s;
}
.menu-link:hover::after {
    width: 100%;
}
.menu-link.active:hover {
    opacity: 0.6;
}
.menu-link.active::after{
    width: 100%;
}
/*____________________________________header end*/
/*______________________________________________map*/
.map {
    overflow-x: hidden;
    position: relative;
    padding: 0;
    background-color: var(--color-secondary);
}
.map--info {
    position: absolute;
    background-color: white;
    top: 95px;

    display: flex;
    padding: 65px 75px;
}
.map--info .title-4 {
    text-transform: uppercase;
    max-width: 163px;
}
.map--info address {
    display: flex;
    flex-direction: column;
    line-height: 1;
    justify-content: space-between;
    text-align: end;
}
.map iframe {
    width: 100vw;
    height: 400px;
    overflow-x: hidden;
    border: none;
}
/*______________________________________________map end*/
/*____________________________________________footer*/
.footer {
    background-color: var(--color-secondary);
}
.footer .container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.footer img {
    height: 24px;
    width: 128px;
}
.footer .social-media {
    width: 130px;
    display: flex;
    justify-content: space-between;
}
.footer .social-media-icon {
    height: 30px;
    width: 30px;
    background-image: url(../img/social-icons-sprite.svg);
    background-repeat: no-repeat;
}
.footer .alona a {
    color: var(--color-text-secondary);
    font-family: var(--font-heading);
    text-decoration: none;
    text-transform: uppercase;
}
/*____________________________________________footer end*/

























@media screen and (max-width: 991px) {
    .container-grid-2col {
        display: block;
    }
    .container-grid-4col {
    grid-template-columns: repeat(2, 1fr);
    }
    /*____________________________________________header start*/
    .logo {
        height: 51px;
        width: 174px;
        background: url(../img/logo-tablet.svg) no-repeat transparent;
    }
    .header-nav ul {
        margin-top: 20px;
    }
    .header-nav li:nth-child(n+2) {
        margin-left: 15px;
    }
    .menu-link {
        font-size: 18px;
    }
    /*____________________________________________header end*/
    /*___________________________________________map*/
    .map--info {
        position: static;
        margin: 20px 0;
        justify-content: space-between;
    }
    .map iframe {
        height: 400px;
    }
    /*___________________________________________map end*/
}



























@media screen and (max-width: 767px) {
    .container-grid-4col {
        display: block;
    }
    /*___________________________________________headings start*/
    h1,
    .title-1 {
        font-size: 36px;
    }
    h2,
    .title-2 {
        font-size: 36px;
    }
    h3,
    .title-3 {
        font-size: 24px;
    }
    h4,
    .title-4 {
        font-size: 16px;
    }
    h5,
    .title-5 {
        font-size: 16px;
    }
    h6,
    .title-6 {
        font-size: 16px;
    }
    /*___________________________________________headings end*/
    /*___________________________________________buttons start*/
    .button-catalog-main {
        padding: 11px 26px;
    }
    .button-big {
        font-size: var(--font-size-paragraph);
        padding: 11px 26px;
    }
    /*___________________________________________buttons end*/
    /*________________________________________________header start*/
    .header-nav {
        position: relative;
        width: calc(100vw - 40px);
        align-items: center;
        z-index: 100;
        border-bottom: 1px solid var(--color-border);
    }
    .header-nav::before {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: #fff;
        width: 100%;
        height: 100%;
    }
    .logo {
        height: 37px;
        width: 33px;
        background: url(../img/logo-mobile.svg) no-repeat transparent;
    }
    .header-title {
        height: 18px;
        width: 101px;
        background: url(../img/title-header-mobile.svg) no-repeat transparent;
    }
    .header-nav label {
        display: block;
        height: 18px;
        width: 24px;
        background: url(../img/burger-icon.svg) no-repeat transparent;
        cursor: pointer;
    }
    .header-nav nav {
        position: absolute;
        top: -200px;
        background-color: white;
        border-bottom: 1px solid var(--color-border);
        width: 100%;
        z-index: -2;
        transition: 0.5s;
    }
    .header-nav input:checked~nav {
        top: 100%;
    }
    .header-nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .header-nav li {
        height: 54px;
        display: flex;
        align-items: center;
    }
    /*__________________________________________header end*/
    /*___________________________________________map*/
    .map .container-main {
        width: 100%;
    }
    .map--info .title-4 {
        max-width: 140px;
    }
    .map--info {
        padding: 20px;
    }
    .map iframe {
        height: 360px;
    }
    /*___________________________________________map end*/
    /*____________________________________________footer*/
    .footer .container-main {
        flex-direction: column;
        height: fit-content;
        justify-content: start;
    }
    .footer img {
        margin: 30px 0;
    }
    .footer .social-media {
        padding: 20px 0;
        border-top: var(--color-border) 1px solid;
    }
    .footer .alona {
        display: none;
    }
    

}

