:root {
    --gap-between-columns: 80px;                /*80px*/ /*6.5%*/
    --padding-horizontal-main-container: 20px;
    /*margins*/
    --margin-bottom-main: 75px;
    --margin-bottom-secondary: 35px;

    /*colors*/
    --color-primary: #68B738;
    --color-primary-hover: #5EAA2F;
    --color-secondary: #F2F2F2;
    --color-secondary-hover: #ebebeb;

    --color-border: #E7E7E7;

    /*text*/
    --color-text: #000;
    --color-text-secondary: #444444;

    --line-height: 1.5;
    --line-height-heading: 1;

    --font-size-paragraph: 16px;
    --font-size-form: 20px;

    --font-paragraph: 'Roboto';
    --font-heading: 'Oswald';
    
}





@media screen and (max-width: 991px) {
    :root {
        --gap-between-columns: 60px;
        --margin-bottom-main: 60px;
        
    }
}


@media screen and (max-width: 767px) {
    :root {
        --font-size-paragraph: 14px;
        --margin-bottom-main: 35px;  /*should be 35/ 35-20=15*/
        --margin-bottom-secondary: 20px;
    }
}
